<h1>ようこそ</h1>
<% if flash[:notice]%>
  <%= flash[:notice]%>
<%end%>
<% if session[:user_id] %>
          <li>
            現在ログインしているユーザーのid:<%=session[:user_id]%>
          </li>
<% end %>
    
<%if session[:user_id]%>
  <div class="menu">
    <%= link_to "このサイトについて","top/description"%>
    <%= link_to "掲示板を覗く","/home/"%>
    <%= link_to "ユーザー一覧","/user/index"%>
    <%= link_to "ログアウト","/logout",{method: :post}%>
<%else%>
    <%= link_to "このサイトについて","top/description"%>
    <%= link_to "掲示板を覗く","/home/"%>
    <%= link_to "ユーザー一覧","/user/index"%>
    <%= link_to "新規登録","/user/signup"%>
    <%= link_to "ログイン","/login"%>
<%end%>
  </div>
