<%= form_for @user,url: "/user/update" do |u|%>

    <div class="field">
      <%= u.label :name,"名前" %>
      <br>
      <%= u.text_field :name %>
    </div>

    <div class="field">
      <%= u.label :mail,"メールアドレス" %>
      <br>
      <%= u.text_field :mail %>
    </div>

     

      <div class="field">
        <%= u.label :password,"パスワード" %>
        <br>
        <%= u.password_field :password %>
       </div>
      

    <div class="actions">
      <%= u.submit "更新" %>
    </div>
<%end%>



