<h1>新規登録</h1>
<%= bootstrap_form_for @user,url: "/user/create" do |u|%>

    <div class="field">
      <%= u.text_field :name, label: "名前" %>
    </div>

    <div class="field">
      <%= u.email_field :mail, label: "メールアドレス" %>
    </div>

      <div class="field">
        <%= u.password_field :password, label: "パスワード" %>
      </div>
      
    <div class="actions">
      <%= u.submit "登録" %>
    </div>

<%end%>
