<h1>新規登録</h1>
<%= bootstrap_form_for @user,url: "/user/create" do |u|%>

  <div class="field">
      <%= u.label :name,"名前" %>
      <br>
      
      <%= u.text_field :name %>
    </div>

      <div class="field">
      <%= u.label :mail,"メールアドレス" %>
      <br>
      <%= u.text_field :mail %>
    </div>

     

      <div class="field">
        <%= u.label :password,"パスワード" %>
        <br>
        <%= u.password_field :password %>
       </div>
      

    <div class="actions">
      <%= u.submit "登録" %>
    </div>

<%end%>
