
<%= @user.name %>
<%= @user.mail%>
<%if @user==@now_user%>
    <%= link_to("編集","/user/#{@user.id}/edit")%>
<%end%>

<p><%= @user.name %>さんの投稿</p>
<% @posts.each do |post| %>
    <ul class="list-group">    
        <li class="list-group-item"><%= link_to(post.content, "/home/#{post.id}/show/") %></li>
    </ul>
<%end%>
