<p id="notice"><%= notice %></p>

<h1>画像広場</h1>

<table>
  <thead>
    <tr>
      <th>画像名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <ul class="list-group">
        <li class="list-group-item"></p><%= image.message %></li>
        <li class="list-group-item"><%= link_to 'Show', image %><%= link_to 'Edit', edit_image_path(image) %><%= link_to 'Destroy', image, method: :delete, data: { confirm: '画像を消しますか?' } %></li>
      </ul> 
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Image', new_image_path %>
