<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @image.message %>
</p>

<p>
  <strong>Image path:</strong>
  <%= image_tag(@image.image_path_url) %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
