<!DOCTYPE html>
<html>
  <head>
    <title>PostApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'require' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'require' %>

  </head>

  <body>
    <% if flash[:notice]%>
      <%= flash[:notice]%>
      <br> 
    <%end%>
    
    <%=link_to("TOP画面へ戻る","/")%>
    <div class="login">
      <%if @now_user%>
        <p>現在ログインしてるユーザー <%= link_to(@now_user.name,"/user/#{@now_user.id}/show") %></p>
      <%end%>
    </div>

    <%= yield %>

  </body>
</html>
